body {
 background-color:#8e8799;
}
h1 {
text-decoration:center;
}
div {
    width: 336px;
    height: 192px;
    border-style: solid outset solid inset;
    border-width: 2px 5px 2px 5px;
    border-color: DodgerBlue;
    text-align: center;
    color: black;
    margin: auto;
    line-height: 2px;
    background-image: url("vc.jpg");
}

