body {
 background-color:#8e8799;
}
img.cover_img
{
 opacity: 0.2;
}
img.cover_img: hover { opacity: 1.0; }
::selection { background-color: black; color: white; }
img.cover_img {
height:100%; width:100%; title: annual picnic; display:block;
                }
a:link, a:visited {
  background-color:#696969;
  padding: 15px 4px;
  color: white;
  text-align: center;
  text-decoration: none;
}
a:hover, a:active {
background-color: #b29700;
}
ul#l01 {
list-style-type: square;
border-style: inset;
border-width: 2px 5px 2px 10px;
border-color: #b29700;
border-radius: 5px;
}

ul#l02 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position:absolute;
}

ul#l02 li {
  float: left;
  display: inline;
}

ul#l02 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: Trebuchet Ms;
  border-style:inset;
  border-width: 1px;
  border-color: #8e8799;

}

ul#l02 li a:hover{
  background-color: #b29700;
  font-size: 18px;
}
.cities {
  background-color: gray;
  color: white;
  margin: 20px;
  padding: 10px;
}
.sub {
    Padding: 20px;
    border-style: outset;
    border-color: maroon;
    border-width: 50px;
}
h2#secret {
background-color:lightblue;
color: green;

}
* {
font-family: Trebuchet MS;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  max-width:1066px;
  margin:auto;
}

#customers td, #customers th {
  border: 1px solid #b29700;
  padding: 5px;
  vertical-align: middle;
  background-color: black;
  color: #b29700;
}

#customers tr:hover {background-color: lightgreen;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #b29700;
  color: white;
  border: 2px solid black;
}


